/* ---- 💫 https://github.com/oniichanx 💫 ---- */
/* Main Config 1080p */

/* ---- Global Configuration Fonts ---- */
@import "~/.config/rofi/0-shared-fonts.rasi"

/* note: Main themes in ~/.config/rofi/themes */
/* You can manually change here or you can use rofi theme selector SUPER ALT R */


@theme "~/.config/rofi/themes/KooL_style-1-B.rasi"